*{
  box-sizing: border-box;
  touch-action: manipulation;
}
.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  @media (max-width: 1200px){
      max-width: 960px;
  }
  @media (max-width: 960px){
      max-width: 640px;
  }
  @media (max-width: 640px){
      max-width: 100%;
  }
}