// Radius
$Radius-5: 4px;
$Radius-6: 6px;

// Color

$ColorPlaceholderForm: red;
$ColorBorderForm: green;
$ColorForm: blue;

$DefaultBgButton: #eee;
$DefaultColorButton: #000;

$DangerBgButton: red;
$DangerColorButton: white;



// Shadow

// Margin


