//create your typography and buttons

.h1{}
.h2{}
.h3{}
.h4{}
.h5{}
.h6{}
.subtitle1{}
.subtitle2{}
.body1{}
.body2{}

.btn{
    display: inline-flex;
    height: 50px;
    padding: 0 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none !important;
    transition: 0.3s;
    background-color: #333;
    color: #fff;
}
.btn.btn-warning{
    &:hover{

    }
}
.btn.btn-danger{
    &:hover{

    }
}
.btn.btn-success{
    &:hover{

    }
}
.btn.btn-info{
    &:hover{

    }
}
.btn.btn-default{
    &:hover{

    }
}