<!DOCTYPE html>
html(lang="ru")
    head

        include _head

        block css

        block title

    body

        include ../include/_header
        
        block content

        include ../include/_footer
        
        script(src='js/jquery-2.2.4.js')
        script(src='js/libs-dist.js')
        script(src='js/main-dist.js')

        block js