meta(charset="UTF-8")
// Meta
meta(name='description', content='')
meta(name='keywords', content='')
meta(name='author', content='')
// OpenGraph
meta(property='og:title' content='')
meta(property='og:type' content='')
meta(property='og:url' content='')
meta(property='og:image' content='')
// Viewport
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" )
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="theme-color", content="#ffffff")
// Style
link(as="style" rel="stylesheet preload" href='fonts/Roboto/stylesheet.css')
link(as="style" rel="stylesheet preload" href='css/reset.css')
link(rel="stylesheet" href='css/libs.css')
link(rel="stylesheet" href='css/style.css')