<!DOCTYPE html>
html(lang="ru")
    head

        include _head

        block css

        block title

    body

        include _header
        
        block content

        include _footer
        
        script(src='js/jquery-2.2.4.js')
        script(src='js/libs.js')
        script(src='js/main.js')

        block scripts