<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='description', content='Free Web tutorials')
        meta(name='keywords', content='HTML,CSS,XML,JavaScript')
        meta(name='author', content='John Doe')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" )
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#ffffff")
        link(rel="stylesheet" href='css/reset.css')
        link(rel="stylesheet" href='css/style.css')

        block css

        block title

    body

        include _header
        
        block content

        include _footer
        
        script(src='js/jquery-2.2.4.js')
        script(src='js/libs.js')
        script(src='js/main.js')

        block scripts