.el-button{
    width: 100%;
    height: 40px;
    background-color: $DefaultBgButton;
    color: $DefaultColorButton;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    &.el-button-danger{
        background-color: $DangerBgButton;
        color: $DangerColorButton;
    }
    &.el-button-small{
        height: 30px;
    }
}